{% extends "../base.html" %}

{% block header %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Cadastro de Arma</h1>
            <hr class="my-4">
            <a href="/" class="btn btn-success" title="Listagem"> Home </a>
            <a href="/arma/listar" class="btn btn-primary" title="Listagem"> Listagem </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row justify-content-center">

    <div class="col-md-8">
        <form action="/arma/cadastrar" method="POST">
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" type="number" name="id" value="{{arma.id}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Descrição</label>
                        <input class="form-control" type="text" name="description" value="{{arma.description}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Tipo</label>
                        <select class="form-control form-select" aria-label="Default select example" name="tipo">
                            <option selected>Selecione o Tipo da Arma</option>
                            <option value="1">Arma de Fogo</option>
                            <option value="2">Arma Branca</option>
                            <option value="3">Diversas</option>
                        </select>
                    </div>
                </div>
            </div>          

            <div class="row">
                <div class="col-md-12">
                    <p class="my-4"></p>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}