{% extends "../base.html" %}

{% block header %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Cadastro de Criminoso</h1>
            <hr class="my-4">
            <a href="/" class="btn btn-success" title="Listagem"> Home </a>
            <a href="/criminoso/listar" class="btn btn-primary" title="Listagem"> Listagem </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <form action="/criminoso/cadastrar" method="POST">
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" type="number" name="id" value="{{criminoso.id}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" type="text" name="nome" value="{{criminoso.nome}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>CPF</label>
                        <input class="form-control" type="text" name="cpf" value="{{criminoso.cpf}}">
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <p class="my-4"></p>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}