{% extends "../base.html" %}

{% block header %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Cadastro de Bairro</h1>
            <hr class="my-4">
            <a href="/" class="btn btn-success" title="Listagem"> Home </a>
            <a href="/bairro/listar" class="btn btn-primary" title="Listagem"> Listagem </a>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <form action="/bairro/cadastrar" method="POST">
            <hr class="my-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>ID</label>
                        <input class="form-control" type="number" name="id" value="{{bairro.id}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" type="text" name="nome" value="{{bairro.nome}}">
                    </div>
                </div>
            </div>   

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Cidade</label>
                        <select class="form-control form-select" aria-label="Default select example" name="cidade">
                            <option selected>Selecione a Cidade</option>
                            <option value="1" >Blumenau</option>
                            <option value="2" >Curitiba</option>
                            <option value="3" >São Paulo</option>
                        </select>
                    </div>
                </div>
            </div> 

            <div class="row">
                <div class="col-md-12">
                    <p class="my-4"></p>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}